.flscrn-post-ctn-bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 11;
}

.only-post-ctn {
    min-height: calc(100vh - 150px);
    display: flex;
    align-items: center;
    justify-content: center;

    .flscrn-post-ctn {
        height: 40vw;
    }
}

.flscrn-post-ctn {
    display: flex;
    width: 80%;
    height: 50vw;
    border-radius: 0 0.35em 0.35em 0;

    &__mob-ctn {
        display: none;
    }

    &__left-ctn {
        width: 60%;
        height: 100%;
        margin-top: 0;
        border-right: 1px solid gray;

        background-color: transparent !important;
    }

    &__right-ctn {
        width: 40%;
        display: flex;
        flex-direction: column;

        &__text-ctn {
            padding: 1em;
            height: 100%;
            overflow-y: auto;
        }

        &__text-ctn__text {
            word-break: break-all;
        }
    }
}

.close-post-flscrn {
    position: absolute;
    top: 2.75vh;
    right: 10px;
    width: 35px;
    height: 35px;

    &:hover {
        cursor: pointer;
    }
}

@media only screen and (max-width: 768px) {

    .only-post-ctn {
        min-height: calc(100vh);
        margin-bottom: 5em;
        align-items: initial;
    }

    .flscrn-post-ctn {
        flex-direction: column;
        width: 90%;
        //height: fit-content !important;

        &__dsk-ctn {
            display: none;
        }

        &__mob-ctn {
            display: flex;
            height: 100% !important; 
        }

        &__left-ctn {
            width: 100%;
            height: 90vw;
        }

        &__right-ctn {
            width: 100%;

            &__text-ctn {
                height: auto;
            }
        }
    }
}