.post-body-ctn-wrapper {
  margin: 1em auto;

  /* width: 100%; */
  background-color: white;
  z-index: -9;
}

.post-body-ctn {
  /* border: 1px solid black; */
  position: relative;
  width: 100%;
  margin: 1em auto;
  border-radius: 0.25em;
  /* border: 1px solid black; */
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.post-body-ctn:not(:first-child) {
  margin-top: 3.75em;
}

.post-body-ctn:not(:last-child)::after {
  position: absolute;
  content: "";
  width: 80%;
  height: 1px;
  left: 10%;
  bottom: -1.875em;
  border-radius: 0.25em;
  background-color: rgba(0, 0, 0, 0.5);
}

.post-body-ctn:last-child {
  margin-bottom: 5em;
}