.status-notif {
    position: fixed;
    border-radius: 0.25em;
    left: 50%;
    transform: translateX(-50%) translateY(-51px);
    
    /* top: -50px; */
    margin: 0 auto;
    height: 50px;
    width: 500px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.25s;
    overflow: hidden;
    z-index: 1;
}

.status-notif::before {
    position: absolute;
    height: 100%;
    width: 50px;
    left: 0px;
}

.status-notif > p {
    display: inline-block;
    font-size: 0.925rem;
}

.status-notif--err-active {
    background-color: #ffcccb;
    transform: translateX(-50%) translateY(10px);
    /* top: 10px; */
}

.status-notif--err-active::before {
    content: "";
    background-image: url("/public/error-status.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px 32px;
    background-color: #e53935;
}

.status-notif--active {
    background-color: #d7ffd9;
    transform: translateX(-50%) translateY(10px);
    /* top: 10px; */
}

.status-notif--active::before {
    content: "";
    background-image: url("/public/ok-status.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 30px;
    background-color: #43a047;
}

@media only screen and (max-width: 786px) {
    .status-notif {
        width: 80%;
        height: 60px;
        transform: translateX(-50%) translateY(-61px);
    }
}