.nav-container-desktop {
    position: sticky;
    top: 0;
    /* background-color: var(--prim-off-white); */
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    min-width: 860px;
    height: 75px;
    padding: 0 7em 0 7em;
    z-index: 10;
    overflow: visible;
}

.nav-container-mobile {
    position: sticky;
    top: 0;
    /* background-color: var(--prim-off-white); */
    background-color: white;
    /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
    /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 860px;
    height: 75px;
    padding: 0 7em 0 7em;
    z-index: 10;
    display: none;
}

.mobile-nav {
    background-color: white;
    display: none;
    position: fixed;
    width: 100%;
    /* top: calc(100% - 60px); */
    bottom: 0;
    padding: 0.75em 0;
    z-index: 10;
    justify-content: space-around;
}

.search-ctn {
    display: block;
    margin: 0 0.5em;
    width: 40%;
    min-width: 300px;
    max-width: 400px;
    height: 2em;
}

.search-ctn input {
    width: 100%;
    height: 100%;
    padding: 0.75em;
    border-radius: 0.25em;
    border: 1px solid lightgray;
}

.search-ctn input:focus {
    outline: none;
    border: 2px solid var(--prim-blue);
    padding: 0.675em;
}

/* .logo, .home-btn, .reg-button {
    color: white;
} */

.logo {
    width: 25%;
    width: clamp(160px, 20vw, 300px);
    font-size: 2.5rem;
    color: var(--prim-blue);
    font-weight: 700;
    display: flex;
    align-items: center;
    font-family: "Exo";
    letter-spacing: 1px;
}

nav {
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-results-ctn {
    display: block;
    border-radius: 0 0 0.25em 0.25em;
    background-color: white;
    height: 250px;
    overflow-y: auto;
}

.search-results-ctn .profile-ctn {
    height: 70px;
    font-size: 0.975rem;
}

.hide-res-ctn {
    display: none;
}

.no-res-ctn {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-size: 0.95rem;
    color: #00000070;
}

.reg-log-btn-ctn {
    /* border: 1px solid white; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 57.5%;
    width: clamp(100px, 15vw, 150px);
    /* min-width: 260px; */
}

.reg-log-btn-ctn--lgout {
    justify-content: flex-end;
}

.noti-icon {
    position: relative;
    width: 2em;
    height: 2em;
    background: url("/public/notification.svg") center no-repeat;
    background-size: contain;
    /* transition: transform 0.15s; */
}

.no-of-notifs {
    position: absolute;
    min-width: 1.25em;
    min-height: 1.25em;
    top: -0.5em;
    right: -0.25em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    border-radius: 50%;
}

.no-of-notifs > p {
    font-size: 0.925rem;
}

.noti-icon:hover {
    cursor: pointer;
    background: url("/public/notification.gif") center no-repeat;
    background-size: contain;
    /* transform: scale(1.2); */
}

.notifs-ctn {
    position: absolute;
    top: 50px;
    right: 57.5%;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;

    background-color: white;
    border-radius: 0.15em;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    overflow-y: auto;
    transform: scale(0);
    /* opacity: 0; */
    transform-origin: 95% 0%;
    transition: transform 0.25s, opacity 0.25s;
}

.mrk-all-rd {
    align-self: flex-end;
    padding: 0;
    background-color: white;
    margin: 0.25em 0.5em 0 0;
    font-size: 0.9rem;
    color: gray;
    transition: color 0.25s;
}

.mrk-all-rd:hover {
    cursor: pointer;
    color: black;
}

/* .notif-clip-tri {
    position: absolute;
    width: 25px;
    height: 25px;
    border: 1px solid black;
    background-color: white;
    top: -25px;
    right: 20px;
    clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
} */

.no-notifs {
    font-size: 0.925rem;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notif-ctn--active {
    opacity: 1;
    transform: scale(1) !important;
}

.create-ctn {
    position: relative;
    height: 1.5em;
    display: flex;
    align-items: center;
}

.create-tools-ctn {
    position: absolute;
    padding: 0.25em 0.75em;
    top: 150%;
    left: -97.5%;
    background-color: white;
    border-radius: 0.25em;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.create-tools-ctn p:hover {
    cursor: pointer;
}

.create-icon {
    width: 2em;
    height: 2em;
    background: url("/public/icon-create.svg") center no-repeat;
    background-size: contain;
    /* transition: transform 0.15s; */
}

.create-icon:hover {
    cursor: pointer;
    background: url("/public/icon-create.gif") center no-repeat;
    background-size: contain;
    /* transform: scale(1.2); */
}

.dm-icon {
    width: 2.25em;
    height: 2.25em;
    /* margin-left: 0.25em; */
    background: url("/public/dm.svg") center no-repeat;
    background-size: cover;
}

.dm-icon:hover {
    background: url("/public/dm.gif") center no-repeat;
    background-size: cover;
}

.logout-icon {
    width: 2.15em;
    height: 2.15em;
    margin-left: -0.35em;
    background: url("/public/icon-sign-out.svg") center no-repeat;
    background-size: contain;
    /* transition: transform 0.15s; */
}

.logout-icon:hover {
    background: url("/public/icon-sign-out.gif") center no-repeat;
    background-size: contain;
    /* transform: scale(1.2); */
}

.reg-log-btn-ctn--lgout {
        width: clamp(160px, 20vw, 300px);
}

.reg-log-btn-ctn--lgout img {
    width: 2em;
    height: 2em;
    /* transition: transform 0.15s; */
}

.reg-log-btn-ctn a:first-child {
    height: 2.15em;
}

.reg-log-btn-ctn a:first-child > img {
    width: 2em;
    height: 2em;
}

.reg-log-btn-ctn--lgout img:hover {
    cursor: pointer;
    /* transform: scale(1.2); */
}

.reg-log-btn-ctn--lgout > * {
    margin: 0 auto;
    align-self: center;
}

.reg-button {
    width: 2em;
    height: 2em;
    margin-left: 5px;
}

.reg-button > img {
    display: block;
    width: 2em;
    height: 2em;
}

/* .log-button {
    display: flex;
    align-items: center;
} */

.log-button > div {
    background: url("/public/login.svg") no-repeat;
    background-size: contain;
    width: 2em;
    height: 2em;
}

.log-button:hover > div {
    background: url("/public/login.gif") no-repeat;
    background-size: contain;
}

.nav-container-mobile .logo, .search-ctn {
    width: fit-content;
}

.mobile-nav .reg-log-btn-ctn {
    width: 100%;
}

@media only screen and (max-width: 768px) {

    .nav-container-desktop {
        display: none;
    }

    .nav-container-mobile {
        display: flex;
        padding: 0 0.5em;
        min-width: initial;
    }

    .reg-log-btn-ctn {
        justify-content: space-around;
    }

    /* .logo {
        width: 125px !important;
    } */

    .logo > h3 {
        font-size: 2.35rem;
    }

    .mobile-nav {
        display: flex;
    }

    .search-ctn {
        min-width: 250px;
    }

    .notifs-mob-ctn {
        position: absolute;
        /* top: initial; */
        bottom: 55px;
        left: 0;
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;

        background-color: white;
        border-radius: 0.15em;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        overflow-y: auto;
        opacity: 0;
        transform: scale(1, 0);
        transform-origin: 50% 100%;
        transition: transform 0.25s, opacity 0.25s;
    } 

    .notif-ctn--active {
        opacity: 1;
        transform: scale(1);
    }

    /* .notifs-ctn {
        top: initial;
        bottom: 50px;
        left: 0;
        transform: scale(1, 0);
        transform-origin: 50% 100%;
    } */
}