.nav-ctn-dsktp,
.nav-ctn-mob {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  min-width: 860px;
  height: 75px;
  padding: 0 7em 0 7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 10;
}

.nav-ctn-dsktp {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  overflow: visible;
}

@media only screen and (max-width: 768px) {
  .nav-ctn-dsktp {
    display: none;
  }
}

.nav-ctn-mob {
  padding: 0 0.75em;
  min-width: initial;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: none;
}

.nav-ctn-mob > .logo {
  min-width: initial;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 0.5em;
}

.nav-ctn-mob > .search-ctn {
  width: 70%;
}

@media only screen and (max-width: 768px) {
  .nav-ctn-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.logo {
  min-width: 200px;
  font-weight: 700;
  font-family: "Exo";
  letter-spacing: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo > h3 {
  font-size: 2.5rem;
}

@media only screen and (max-width: 768px) {
  .logo {
    font-size: 5rem;
    min-width: none;
  }
}

.search-ctn {
  display: block;
  margin: 0 0.5em;
  width: 40%;
  min-width: 300px;
  max-width: 400px;
  height: 2em;
}

.search-ctn__search-res-ctn {
  display: block;
  border-radius: 0 0 0.25em 0.25em;
  background-color: white;
  height: 250px;
  overflow-y: auto;
}

.search-ctn__search-res-ctn--no-res {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  font-size: 0.95rem;
  color: #00000070;
}

.search-ctn__search-res-ctn--hide-res {
  display: none;
}

@media only screen and (max-width: 768px) {
  .search-ctn {
    min-width: 200px;
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reg-log-btn-ctn {
  position: relative;
  width: clamp(200px, 20vw, 300px);
  height: 57.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.reg-log-btn-ctn > a:first-child {
  height: 2em;
}

.reg-log-btn-ctn--not-logged {
  width: clamp(100px, 15vw, 150px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reg-log-btn-ctn--not-logged > a {
  width: 2em;
  height: 2em;
  margin-left: 5px;
}

.reg-log-btn-ctn--not-logged > a > img {
  display: block;
  width: 2em;
  height: 2em;
}

.reg-log-btn-ctn:not(.reg-log-btn-ctn--not-logged) > * {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.reg-log-btn-ctn:not(.reg-log-btn-ctn--not-logged) > *:not(.reg-log-btn-ctn__settings-toggle) > img {
  width: 2em;
  height: 2em;
}

.reg-log-btn-ctn:not(.reg-log-btn-ctn--not-logged) > *:not(.reg-log-btn-ctn__settings-ctn):not(.notifs-ctn):not(.notifs-mob-ctn) {
  -webkit-transition: margin 0.25s, -webkit-transform 0.25s;
  transition: margin 0.25s, -webkit-transform 0.25s;
  transition: transform 0.25s, margin 0.25s;
  transition: transform 0.25s, margin 0.25s, -webkit-transform 0.25s;
}

.reg-log-btn-ctn:not(.reg-log-btn-ctn--not-logged) > *:not(.reg-log-btn-ctn__settings-ctn):not(.notifs-ctn):not(.notifs-mob-ctn):not(.notifs-ctn):not(.reg-log-btn-ctn__settings-ctn):not(.reg-log-btn-ctn__settings-toggle):hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  margin: 0 0.5em;
}

.reg-log-btn-ctn:not(.reg-log-btn-ctn--not-logged) > *:not(.reg-log-btn-ctn__settings-ctn):not(.notifs-ctn):not(.notifs-mob-ctn):not(.notifs-ctn):not(.reg-log-btn-ctn__settings-ctn):not(.reg-log-btn-ctn__settings-toggle):hover:not(a) {
  cursor: pointer;
}

.reg-log-btn-ctn__create-icon {
  width: 2.15em;
  height: 2.15em;
}

.reg-log-btn-ctn__dm-icon {
  width: 2.25em !important;
  height: 2.25em !important;
  margin-top: 4px;
}

.reg-log-btn-ctn__settings-toggle {
  position: relative;
  width: 2.5em;
  height: 2.5em;
}

.reg-log-btn-ctn__settings-toggle > img {
  width: 100%;
  /* Fighting for specificity with reg-log-btn-ctn--logout img selector */
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.reg-log-btn-ctn__settings-toggle:hover {
  cursor: pointer;
  margin: 0 0.5em;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.reg-log-btn-ctn__settings-toggle--rotate {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}

.reg-log-btn-ctn__settings-toggle--rotate:hover {
  -webkit-transform: rotateZ(90deg) scale(1.2);
          transform: rotateZ(90deg) scale(1.2);
}

.reg-log-btn-ctn__settings-ctn {
  position: absolute;
  right: 5px;
  width: 200px;
  border-radius: 0.25em;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.reg-log-btn-ctn__settings-ctn--dsktp {
  top: 50px;
  -webkit-transform-origin: 90% 0%;
          transform-origin: 90% 0%;
}

.reg-log-btn-ctn__settings-ctn--mob {
  bottom: 60px;
  -webkit-transform-origin: 90% 90%;
          transform-origin: 90% 90%;
}

.reg-log-btn-ctn__settings-ctn--show {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.reg-log-btn-ctn__setting-ctn {
  height: 100%;
  padding: 0.75em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reg-log-btn-ctn__setting-ctn:not(:first-child) {
  border-top: 1px solid lightgray;
}

.reg-log-btn-ctn__setting-ctn p {
  font-size: 1rem;
}

.reg-log-btn-ctn__setting-ctn > button {
  font-size: 0.9rem;
  padding: 0.5em 0.75em;
  border-radius: 0.25em;
}

.reg-log-btn-ctn__setting-ctn--logout-link > img {
  width: 2em;
  height: 2em;
}

@media only screen and (max-width: 768px) {
  .reg-log-btn-ctn {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.noti-icon {
  position: relative;
  width: 2em;
  height: 2em;
}

.noti-icon__no-of-notifs {
  position: absolute;
  font-size: 1rem;
  top: -0.5em;
  right: -0.25em;
  min-width: 1.15em;
  min-height: 1em;
  padding: 0 0.25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: orange;
  border-radius: 50%;
}

.notifs-ctn {
  position: absolute;
  top: 50px;
  right: 57.5%;
  width: 400px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0.25em;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  overflow-y: auto;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 95% 0%;
          transform-origin: 95% 0%;
  -webkit-transition: opacity 0.25s, -webkit-transform 0.25s;
  transition: opacity 0.25s, -webkit-transform 0.25s;
  transition: transform 0.25s, opacity 0.25s;
  transition: transform 0.25s, opacity 0.25s, -webkit-transform 0.25s;
}

.notifs-ctn--active {
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
}

.notifs-ctn--no-notifs {
  font-size: 0.925rem;
  color: gray;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notifs-ctn__mrk-all-rd-btn {
  font-size: 0.9rem;
  margin: 0.25em 0.5em 0 0;
  padding: 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: white;
  color: gray;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

.notifs-ctn__mrk-all-rd-btn:hover {
  cursor: pointer;
  color: black;
}

.mob-nav {
  position: fixed;
  bottom: 0;
  /* top: calc(100% - 60px); */
  width: 100%;
  padding: 0.75em 0;
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: white;
  z-index: 10;
}

.mob-nav > .reg-log-btn-ctn {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .mob-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width: 768px) {
  .notifs-mob-ctn {
    position: absolute;
    /* top: initial; */
    bottom: 60px;
    left: 0;
    width: 100%;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
    border-radius: 0.15em;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    overflow-y: auto;
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transition: opacity 0.25s, -webkit-transform 0.25s;
    transition: opacity 0.25s, -webkit-transform 0.25s;
    transition: transform 0.25s, opacity 0.25s;
    transition: transform 0.25s, opacity 0.25s, -webkit-transform 0.25s;
  }
}
/*# sourceMappingURL=navbar.css.map */