.createToolsCtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.crtPstLnk, .crtBlgLnk {
  color: darkblue;
}

.crtPstLnk {
  margin-bottom: 0.5em;
}

.crtBlgLnk {
  margin-top: 0.5em;
}

.crtPstLnk:hover, .crtBlgLnk:hover {
  color: blue;
}