@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
  font-size: 1.125rem;
  min-height: 100vh;
}

.clip-triangle {
  position: absolute;
  width: 25px;
  height: 25px;
  top: -24px;
  left: 35%;
  background-color: white;
  clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
}

input {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  caret-color: var(--prim-blue);
}

textarea {
  font-family: "Roboto", sans-serif;
}